# Core functionality - changes here should be rare!
/src/app.py                   @2200006695
/src/backend/database.py      @2200006695
/src/backend/routers/auth.py  @2200006695

# The frontend will need refactored soon to be more object oriented.
/src/static/   @2200006695
